@model BlogTask.Models.Account.UserViewModel;

@{
    ViewData["Title"] = "Информация о пользователе";
}

@if (Model is not null)
{
    <div class="container my-1">
        <h3>Информация о пользователе</h3>
        <div class="p-1">
            <div class="card rounded-3">
                <h5 class="card-header border-0">@Model.GetFullName()</h5>
                <div class="card-body">
                    @{
                        RouteValueDictionary get = new RouteValueDictionary();
                        get["guid"] = @Model.Guid;
                    }

                    <span class="badge bg-primary" style="display:inline;">@Model.Role.Name</span>

                    
                    @if (@Model is not null)
                    {
                        <p class="text-decoration-underline">@Model.Login</p>

                        @if (Model.Login == User.Identity.Name)
                        {
                            <div class="p-1">
                                <button type="button" class="btn btn-success btn-sm" onclick="window.location='@Url.Action("Edit", get)'">Редактировать</button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}