@{
    ViewData["Title"] = "Просмотр списка статей";
}

@if (Model.List.Count != 0)
{
    <div class="container my-1">
        @foreach (var article in @Model.List)
        {
            <div class="p-1">
                @{
                    RouteValueDictionary get = new RouteValueDictionary();
                    get["guid"] = article.Guid;
                }
                <div class="card rounded-3">
                    <h5 class="card-header border-0" cursor="pointer" role="button" onclick="location.href = '@Url.Action("View", get)'">@article.Title</h5>
                    <div class="card-body">
                        @foreach (var tag in article.Tags)
                        {
                            <span class="badge bg-primary" style="display:inline;">@tag.Name</span>
                        }
                        <h6>@article.Text</h6>
                        @if (@article.User.Login is not null)
                        {
                            <p class="text-decoration-underline">@article.User.Login</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    <a href="">Добавить</a>
}
