@model BlogTask.Models.Article.ArticleViewModel;

@{
    ViewData["Title"] = "Просмотр статьи";
}

@if (Model is not null)
{
    <div class="container my-1">
        <h3>Просмотр статьи</h3>
        <div class="p-1">
            <div class="card rounded-3">
                <h5 class="card-header border-0">@Model.Title</h5>
                <div class="card-body">
                    @{
                        RouteValueDictionary get = new RouteValueDictionary();
                        get["guid"] = @Model.Guid;
                    }
                    @foreach (var tag in Model.Tags)
                    {
                        <span class="badge bg-primary" style="display:inline;">@tag.Name</span>
                    }
                    <h6>@Model.Text</h6>
                    @if (@Model.User.Login is not null)
                    {
                        <p class="text-decoration-underline">@Model.User.Login</p>

                        @if (Model.User.Login == User.Identity.Name || User.IsInRole("Модератор"))
                        {
                            <div class="p-1">
                                <button type="button" class="btn btn-outline-success btn-sm" onclick="window.location='@Url.Action("Edit", get)'">Редактировать</button>

                                <button type="button" class="btn btn-outline-danger btn-sm" onclick="window.location='@Url.Action("Del", get)'">Удалить</button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}